{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="map-wrapper w-100">

        </div>
    <div class=" row mw-100">
        <div class="col-sm-4 col-sm-offset-1 mx-3 my-5">
            <div class="panel rounded contact-panel bg-default my-auto rounded">
                <div class="panel-heading bg-neutral rounded ">
                    <h3 class="text text-center text-default p-3 bg-primary rounded text-neutral">Contact Me!</h3>
                </div>
                <div class="panel panel-body p-3">
                    <form role="form">
                        <div class="col-xs-12">
			    					<div class="form-group">
			                <input type="text" name="name" id="contactName" class="form-control input-md" placeholder="Your name" required>
                                    </div>

                            <div class="form-group">
                                <input type="email" name="email" id="contactEmail" class="form-control input-md" placeholder="Your email address" required>
                            </div>
                            <div class="form-group">
                                <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;overflow-y: scroll;"></textarea>
                            </div>
                            </div>
                        <input type="submit" value="Send" class="btn btn-outline-primary btn-round btn-neutral">
                    </form>
                </div>
            </div>

        </div>

    </div>

{% endblock %}
