{% extends 'blog/base.html' %}
{% block content %}
<div>
<div class="landing-greet mw-100">
<div class="container-fluid col-sm-8 col-sm-offset-2 landing-cons">
    <blockquote class="type-js-1 col-12 blockquote blockquote-primary bg-default rounded">
    <h2 class="text-neutral">> <span class="text-js-1">Hi!</span></h2>
        <h4 class="text-neutral">>   <span class="text-js-2">This is Anne, software developer and cat enthusiast</span></h4>
    </blockquote>
    </div>

</div>
    <div class="after-landing mw-100 float-right col-10 col-md-6">
        <div class="float-right animated-element">
        <h2 class="text text-primary text-right">Welcome</h2>
        <p class="text-neutral text-right"> Welcome to my portfolio website. I am a software developer currently living in Seoul, South Korea.</p>
        </div>
    </div>
    <div class="my-2">
        <div class="my-motto">
            <h2 class="text text-center text-primary">My motto?</h2>
            <h4 class="text text-center text-primary animated animated-element">Passion,</h4>
            <h4 class="text text-center text-primary animated animated-element">hackery,</h4>
            <h4 class="text text-center text-primary animated animated-element">and a cup of coffee</h4>
        </div>
        <hr class="mx-auto"/>
        <div class="cool-stuff">
            <h2 class="text text-primary">Cool Stuff I do</h2>
            <div class="row mw-100 card-deck d-flex justify-content-around">
                <div class="col-5 col-md-2 card card rounded text-center text-success p-4 card-coin btn">
                    <i class="tim-icons icon-laptop icon-success cool-icon"></i>
                    <p>Web development</p>
                </div>
                <div class="col-5 col-md-2 card card rounded text-center text-success p-4 card-coin btn">
                    <i class="tim-icons icon-coins icon-success cool-icon"></i>
                    <p>Server programming</p>
                </div>
                <div class="col-5 col-md-2 card card rounded text-center text-success p-4 card-coin btn">
                    <i class="tim-icons icon-cloud-upload-94 icon-success cool-icon"></i>
                    <p>Cloud computing</p>
                </div>
                <div class="col-5 col-md-2 card card rounded text-center text-success p-4 card-coin btn">
                    <i class="tim-icons icon-atom icon-success cool-icon"></i>
                    <p>Scientific Computing</p>
                </div>
            </div>
        </div>
        <div class="my-stack">

            <h2 class="text text-right text-primary">My Stack</h2>
            <div class="d-flex justify-content-md-between">
            <div class="col-sm-5 col-xs-10">.</div>
            <div class="col-sm-5 col-xs-10">
            <div class="progress-container progress-danger ">
                <span class="progress-badge text-center">Javascript</span>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                        <span class="progress-value">70%</span>
                    </div>
                </div>
            </div>
                <div class="progress-container progress-info">
                    <span class="progress-badge text-center">ReactJS</span>
                    <div class="progress ">
                        <div class="progress-bar " role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">
                            <span class="progress-value">80%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-container progress-success">
                    <span class="progress-badge text-center">NodeJS</span>
                    <div class="progress ">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            <span class="progress-value">70%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-container progress-primary">
                    <span class="progress-badge text-center">Python</span>
                    <div class="progress ">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                            <span class="progress-value">85%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-container progress-danger">
                    <span class="progress-badge text-center">Django</span>
                    <div class="progress ">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                            <span class="progress-value">70%</span>
                        </div>
                    </div>
                </div>
                <div class="progress-container progress-warning">
                    <span class="progress-badge text-center">AWS</span>
                    <div class="progress ">
                        <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;">
                            <span class="progress-value">65%</span>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div class="look-projs">
            <h3 class="text-neutral">
                Take a look at some <a class="animated-element pulse" href="projects">cool projects</a> I have done!
            </h3>
        </div>
        <div class="kind-words">
            <h3 class="text text-center text-neutral">Some kind words from amazing people</h3>
            <div class="recomm-slider">

            </div>
        </div>
        <div class="to-about mx-auto"><a href="about">
            <div class="col-10 col-sm-6 rounded">
                <h1 class="text text-neutral">Still <span class="text-danger">curious</span>?</h1>
                <button class="btn btn-round p-4" >
                    <i class="tim-icons tim-icons-bg-circle tim-icons-32 bg-transparent btn-outline-danger icon-single-02 my-3"></i>
                    <h5>Know more...</h5>
                </button>
            </div>
        </a>
            </div>
        <div class="to-about"><a href="contact">
            <div class="col-10 col-sm-6 rounded mx-auto">
                <h1 class="text text-neutral">Wanna work <span class="text-info">together</span>?</h1>
                <button class="btn btn-round btn-info p-4 mx-auto" >
                    <i class="tim-icons tim-icons-16 icon-send my-3"></i>
                    <h5>Drop me a message</h5>
                </button>
            </div>
        </a>
        </div>
        </div>
    </div>
</div>

<script>
    function autoType(elementClass,itemNum, typingSpeed){
  var thhis = $(elementClass);
  thhis.css({
    "position": "relative",
    "display": "inline-block"
  });
  thhis.prepend('<div class="cursor" style="right: initial; left:0;"></div>');
  thhis = thhis.find(".text-js-"+itemNum);
  var text = thhis.text().trim().split('');
  var amntOfChars = text.length;
  var newString = "";
  thhis.text("|");
  setTimeout(function(){
    thhis.css("opacity",1);
    thhis.prev().removeAttr("style");
    thhis.text("");
    for(var i = 0; i < amntOfChars; i++){
      (function(i,char){
        setTimeout(function() {
          newString += char;
          thhis.text(newString);
        },i*typingSpeed);
      })(i+1,text[i]);
    }
  },1500);
}

$(document).ready(function(){
  setTimeout(()=>autoType(".type-js-1",1,100),1);
  setTimeout(()=>autoType(".type-js-1",2,150),3);
  //autoType(".type-js-1",1,100);
});
</script>
{% endblock %}
