{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <div class="post col-12 col-sm-10 col-md-8 mx-auto">
        <i class="tim-icons icon-double-left"></i>
        <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
                <li class="breadcrumb-item" aria-current="page">All</li>
                <li class="breadcrumb-item" aria-current="page">{{post.category}}</li>
                <li class="breadcrumb-item active" aria-current="page">{{post.title}}</li>
            </ol>
        </nav>
        {% if post.image %}
        <img class='post-banner img-fluid mx-auto' src={{ post.image.url }}/>
        {% endif %}
        {% if post.published_date %}

            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <h2 class ='text text-neutral'>{{ post.title }}</h2>

        <p class ='markdown-content text text-neutral'>{{ post.text|linebreaksbr }}</p>
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <span class="page-link">Previous</span>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}
