{% extends 'blog/base.html' %}

{% block content %}
<div class="row w-100">
<div class="col-md-2 filter-panel">
    <div class="filter-category">
        <label class="text text-primary">Filter by Category</label>
        <select class="selectPicker bg-default text-primary">
            {% for category in categories %}
            <option class="bg-default"> {{category.title}}</option>
            {% endfor %}
        </select>

    </div>
</div>
<div class="post col-12 col-md-8 mx-auto">
    {% for post in posts reversed %}
    <div class="date">
        <p>published: {{ post.published_date }}</p>
    </div>
    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
    <span class="badge text-neutral" style="background-color:{{post.category.color}};">{{post.category}}</span>
    <p class="markdown-content">{{ post.text|linebreaksbr|truncatewords:"50" }}</p>
    {% endfor %}
    <div>
        <!--{% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}">previous</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#">
             {{ posts.number }}
            </a>
        </li>
        {% if posts.has_next %}
        <li class="page-item">
            <a href="?page={{ posts.next_page_number }}">next</a>
        </li>
        <li class="page-item">
            <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        </li>
        {% endif %}-->
        <ul class="pagination">
            {% if posts.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page=1">&laquo; first</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.previous_page_number }}">previous</a>
        </li>
        {% endif %}
        <li class="page-item active">
            <a class="page-link" href="#">
             {{ posts.number }}
            </a>
        </li>
        {% if posts.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.next_page_number }}">next</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a>
        </li>
        {% endif %}
             <!--<li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item active"><a class="page-link" href="#">1</a></li>
            <li class="page-item">
                <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>-->
        </ul>
    </div>
</div>
</div>



{% endblock %}
